 *{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 


:root {
    --primary-color: #e50914;
    --primary-hover-color: #c11119;
    --sec-color: #212529;
    --color-white: #fff;
}


body{ 
    min-height: 100vh; /*this is height when content is not available */
   height: auto;   /* this height is for when content is added*/
     /* background-image: url(../images/bgmg.jpeg); */
 position:relative;
    } 



body::after{
       position:absolute;
       content:' ';
       background-image:linear-gradient(
                            360deg,
                            rgba(0, 0, 0, 0.85) 3%,
                            rgba(0, 0, 0, 0.8465) 11.08%,
                            rgba(0, 0, 0, 0.8361) 19.17%,
                            rgba(0, 0, 0, 0.8187) 27.25%,
                            rgba(0, 0, 0, 0.7944) 35.33%,
                            rgba(0, 0, 0, 0.7632) 43.42%,
                            rgba(0, 0, 0, 0.725) 51.5%,
                            rgba(0, 0, 0, 0.6868) 59.58%,
                            rgba(0, 0, 0, 0.6556) 67.67%,
                            rgba(0, 0, 0, 0.6313) 75.75%,
                            rgba(0, 0, 0, 0.6139) 83.83%,
                            rgba(0, 0, 0, 0.6035) 91.92%,
                            rgba(0, 0, 0, 0.6) 100%),url(../images/bgmg.jpeg);
         left:0;
         top:0;
         width:100%;
         height:100%;
         filter: blur(3px);       
         background-attachment: fixed;
         background-repeat: no-repeat; 
         z-index: -1;
   } 

  figure img{ 
        object-fit: cover;
  }
  
  .nfx-pri-btn{ 
           background-color:var(--primary-color);
            color:white;
  } 

  a .logo{ 
      display: inline-block;
    
    } 



    .card{ 
         background-color: rgba(0,0,0,0.75);
        } 
.card-header{ 
      color: rgba(255, 255, 255, 0.95);
      background-color: #0e1113;
} 

.card-footer{ 
      color: rgba(255, 255, 255, 0.95);
      background-color: #0e1113;
} 

.movieCard{ 
       color:rgba(255,255,255,0.67);
       height:100%;
        width:100%;
       position:relative;
       overflow:hidden;
    }
    
    .movieCard figure { 
        height: 250px;
        overflow:hidden;
        margin:0;   
        left:0;
        right: 0;
    } 
    .movieCard figure img{ 
        width:100%;
        height:100%; 
        object-fit:cover;
    } 
    
    .movieCard figCaption{

        transition: all 0.5s ease-in-out;
         /* transform:translateY(100%) */
        overflow-y: auto;
        }


 
 .movieCard:hover figcaption{ 
       position:absolute;
       top:30%; 
       height:70%;
       background-color: rgba(0,0,0,0.76);
        color:white; 
    width:100%;     
 } 



 .backdrop{ 
     position:fixed;
     height: 100vh;
     width:100%;
     left: 0;
     top: 0;
     margin:0; 
     background-color:rgba(19, 19, 18, 0.67);
    /* z-index:1; */

    /* z-index:1; */

    display:none; 
  animation: fadeIn 0.4s ease-in-out;
} 

.movieCard h2{ 
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}
 .movieModel{ 
        width: 60%;
        /* height:400px; */
        left:20%;
        top:20%;
        background-color: #fff;
        position: fixed;
        display:none;
        /* background-color: white; */
       animation: slidedown 0.5s ease-in-out;
       

    } 

.movieModel .addMovie{ 
      background-color: #fff;
}


.backdrop.active{ 
      display:block;

} 


.movieModel.active{ 
      display:block;
} 



.movieModel .card-header{
          background-color: white;
             color: black;
        } 

.movieModel .card-body{
          background-color: white;
           color: black;
} 

.movieModel .card-footer{
          background-color: white;
           color: black;
        } 

/* form{ 
     background-color: #fff;
} */



@keyframes fadeIn{ 
        from{ 
             opacity:0;

        }

        to{ 
             opacity:1;
        }
}  


@keyframes slidedown{  
       from{ 
          transform: translateY(-50%);
       }

       to{ 
         transform:translateY(0%)
       }
}
